* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bacasime Antique", serif;
  font-family: "Crimson Text", serif;
  font-family: "Lora", serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #080808;
  color: #ffffff;
}
#header {
  width: 100%;
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.2); */
  background-image: url(/images/actors1.jpg);
  background-size: cover;
  background-position: center;
}
.container {
  padding: 10px 8%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  font-size: 25px;
  color: #fc1f31;
  text-transform: uppercase;
}
.logo span {
  font-size: 35px;
  color: white;
  text-shadow: 0 2px #fc1f31;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 19px;
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0%;
  height: 10%;
  background: #ff0037;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}
nav ul li a:hover::after {
  width: 100%;
}
/* .video_background {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
} */
.header_text {
  margin-top: 20%;
  font-size: 28px;
  /* border: 1px solid red; */
}
.header_text h1 {
  font-size: 60px;
  margin-top: 10px;
}
.header_text h1 span {
  color: #f7c12d;
}
/*.................About.........*/
#about {
  padding: 60px 0;
  color: #ababab;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about_col_1 {
  flex-basis: 35%;
}
.view_cv_btn {
  display: block;
  margin: 40px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 10px 25px;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  transition: all 0.8s;
}
.view_cv_btn:hover {
  background: #ff004f;
}
.about_col_1 img {
  width: 100%;
  border-radius: 15px;
}
.about_col_2 {
  flex-basis: 60%;
}
.about_text {
  margin-top: 15px;
  font-size: 18px;
}
.sub_tittle {
  font-size: 40px;
  color: #ffffff;
  /* margin-bottom: 10px; */
}
.tab_tittle {
  display: flex;
  margin: 40px 0 30px;
}
.tab_links {
  margin-right: 50px;
  font-size: 19px;
  color: #fff;
  cursor: pointer;
  position: relative;
}
.tab_links::after {
  content: "";
  width: 0;
  height: 10%;
  background: #ff0037;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}
.tab_links.active_link::after {
  width: 50%;
}
.tab_contents ul li {
  list-style: none;
  margin: 20px 0;
  color: #fff;
  font-size: 17px;
  line-height: 25px;
}
.tab_contents ul li span {
  color: #d85c83;
  font-size: 18px;
}
.tab_contents ul li a {
  color: #fff;
  font-size: 16px;
}
.tab_contents {
  display: none;
}
.tab_contents.active_tab {
  display: block;
}
/* .achievements_box {
  overflow-y: scroll;
  height: 175px;
} */
.achievements_box i {
  color: #f7c12d;
}
/*...........services..............*/

#services {
  padding: 30px 0;
}
.services_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 40px;
}
.services_list div {
  background: #1a1a1a;
  padding: 30px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 10px;
  transition: bacground 0.5s, transform 0.5s;
  /* text-align: justify; */
}
.services_list div i {
  font-size: 30px;
  margin-bottom: 15px;
}
.services_list div h2 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}
.services_list div a {
  text-decoration: none;
  color: #ffffff;
  font-size: 17px;
  margin-top: 20px;
  display: inline-block;
}
.services_list div:hover {
  background: #ff004f;
  transform: translateY(-10px);
}
/*...........portfolio..............*/
#portfolio {
  padding: 30px 0;
}
.work_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 40px;
}
.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  line-height: 22px;
  font-size: 16px;
  transition: height 0.5s;
}
.layer h3 {
  font-weight: 700;
  margin-bottom: 16px;
}
.layer a {
  margin-top: 10px;
  color: #ff004f;
  text-decoration: none;
  font-size: 20px;
  line-height: 50px;
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
}
.work:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}
.btn {
  display: block;
  margin: 40px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 10px 25px;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  transition: all 0.8s;
}
.btn:hover {
  background: #ff004f;
}

/*...........contact..............*/

.contact_left {
  flex-basis: 35%;
}
.contact_right {
  flex-basis: 60%;
}
.contact_left p {
  margin-top: 20px;
  font-size: 18px;
}
.contact_left p i {
  color: #ff004f;
  margin-right: 12px;
  font-size: 18px;
}
.social_icon {
  margin-top: 25px;
}
.social_icon a {
  text-decoration: none;
  font-size: 25px;
  margin-right: 12px;
  color: #fff;

  display: inline-block;
  transition: transform 0.5s;
}
.social_icon a:hover {
  color: #ff004f;
  transform: translatey(-5px);
}
.btn2 {
  display: inline-block;
  background: #ff004f;
}
.contact_right form {
  width: 100%;
}
form input,
textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 12px;
  margin: 12px 0;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
}
form .btn2 {
  padding: 9px 30px;
  font-size: 18px;
  margin-top: 15px;
  cursor: pointer;
}
/* .copy_right {
  width: 100%;
  text-align: center;
  padding: 16px;
  background: #262626;
  margin-top: 20px;
} */
/* --------cs for small screen--------- */
nav .fa-solid {
  display: none;
}
@media only screen and (max-width: 764px) {
  #header {
    height: 50vh;
    background-image: url(/images/shashi1.jpeg);
  }
  .header_text {
    margin-top: 60%;
    /* margin-top: 0%; */
    font-size: 16px;
  }
  .header_text h1 {
    font-size: 30px;
  }
  nav .fa-solid {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .sub_tittle {
    font-size: 30px;
  }
  .about_col_1,
  .about_col_2 {
    flex-basis: 100%;
  }
  .about_col_1 {
    margin-bottom: 30px;
  }

  .about_col_2 {
    font-size: 15px;
  }
  .tab_links {
    font-size: 18px;
    margin-right: 20px;
  }

  .contact_left,
  .contact_right {
    flex-basis: 100%;
  }
}
#msg {
  color: #61b752;
  margin-top: -25px;
  display: block;
}
